* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Pretendard;
  text-decoration: none;
  list-style: none;
}

html,
body {
  height: 100%;
}

* {
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

#app {
  height: 100vh;
}

p {
  margin-bottom: 0px !important;
}

@font-face {
  font-family: RixInooAriDuriPR;
  src: url(src/assets/RixInooAriDuri_Pro_Regular.otf);
}

@font-face {
  font-family: "PyeongChangPeace-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.ant-pagination-simple-pager input {
  width: 30px;
}

textarea {
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  color: #333;
  width: 100%;
}

textarea :focus {
  border: 1px solid #729fdd !important;
  outline: none;
}
