
*{
  margin : 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Pretendard;
  text-decoration: none;
  list-style: none;
}

html, body {
  height: 100%;
}

*{
  -ms-overflow-style: none;
}

*::-webkit-scrollbar{
  display: none;
}

#app{
  height: 100vh;
}


p{
  margin-bottom: 0px !important;
}

